/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select {
    max-width: 280px;
}

body {
    padding-top: 35px;
    padding-bottom: 0px;
    margin: 0 auto;
    padding: 0 8px
}

html {
    font-family: arial,sans-serif;
    font-size: 14px;
    line-height: 20px;
    text-size-adjust: 100%;
    color: #222;
    word-wrap: break-word;
    background-color: #fff
}

footer {
    text-align: center;
    margin-top: 18px;
}

textarea {
    max-width: 380px;
}

.appcontent {
    max-width: 480px;
    font-size: 12px;
}

.integerinput {
    max-width: 40px;
    font-size: 12px;
}

.input-group > .input-group-prepend {
    flex: 0 0 10%;
}

.input-group .input-group-text {
    width: 100%;
}

/*@media (prefers-reduced-motion: reduce): {
    .collapsing {
        transition-property: height, visibility;
        transition-duration: 0.35s;
    }
}*/

.update-panel {
    position: relative;
}

.update-progress {
    background: #fff;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    opacity: .8;
    filter: alpha(opacity=80);
    zoom: 1;
    z-index: 9998;
}

.update-progress-gif {
    position: absolute;
    top: 50%;
    width: 50%;
    left: 50%;
    height: 50%;
    z-index: 9999;
}

.grideventlog {
    font-size: 12px;
    font-family: Calibri
}

#mydiv {
    display: none;
}

#MainContent_app_categories {
    display: none;
}

#MainContent_usercategories {
    display: none;
}

#MainContent_chkbox_appcat_hidden {
    display: none;
}

.smalltext {
    font-size: 12px;
}
