<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="HtmlAgilityPack" version="1.11.28" targetFramework="net472" />
  <package id="Microsoft.AspNet.FriendlyUrls" version="1.0.2" targetFramework="net472" />
  <package id="Microsoft.AspNet.FriendlyUrls.Core" version="1.0.2" targetFramework="net472" />
  <package id="Microsoft.AspNet.ScriptManager.MSAjax" version="5.0.0" targetFramework="net472" />
  <package id="Microsoft.AspNet.ScriptManager.WebForms" version="5.0.0" targetFramework="net472" />
  <package id="Microsoft.ScriptManager.MSAjax" version="1.0.1" targetFramework="net472" />
  <package id="Microsoft.ScriptManager.WebForms" version="1.0.1" targetFramework="net472" />
  <package id="WixMsiToolset" version="3.11.0" targetFramework="net472" />
</packages>